In [1]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

from mypipes import *

In [3]:
#train_file=r"E:\IIT-K\data\data\loan_data_train.csv"
#test_file=r"E:\IIT-K\data\data\loan_data_test.csv"

train_file=r"D:\IIT-K\data\data\loan_data_train.csv"
test_file=r"D:\IIT-K\data\data\loan_data_test.csv"

ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [4]:
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [5]:
ld_train.sample(10)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1353,78139.0,35000,35000,21.98%,60 months,credit_card,14.68%,NY,RENT,9166.67,695-699,12,37424,0.0,3 years
15,29653.0,17000,16975,11.99%,60 months,debt_consolidation,12.69%,NC,MORTGAGE,4666.67,745-749,17,11677,2.0,10+ years
1924,41993.0,35000,35000,17.58%,36 months,debt_consolidation,11.80%,MA,MORTGAGE,13333.33,690-694,12,21393,1.0,10+ years
1704,50231.0,3000,3000,18.25%,36 months,debt_consolidation,23.18%,AL,MORTGAGE,4820.00,660-664,23,7949,3.0,7 years
2193,3209.0,12000,11725,9.63%,36 months,car,15%,GA,MORTGAGE,3000.00,750-754,8,20328,0.0,< 1 year
1361,78680.0,8000,8000,15.31%,36 months,other,18.62%,CO,OWN,3083.33,680-684,14,1669,2.0,4 years
1425,104166.0,8000,8000,14.83%,60 months,credit_card,6.29%,NJ,MORTGAGE,4833.33,675-679,8,9676,4.0,6 years
305,54131.0,28625,28625,13.11%,60 months,debt_consolidation,21.31%,TX,MORTGAGE,4833.33,740-744,9,35863,0.0,5 years
483,65443.0,6000,6000,7.90%,36 months,credit_card,9.31%,TX,OWN,1750.00,705-709,14,5056,0.0,6 years
1187,92631.0,24000,23925,16.29%,60 months,credit_card,11.77%,NJ,MORTGAGE,7800.00,675-679,11,20676,3.0,2 years

In [6]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [7]:
ld_train["Loan.Length"].value_counts(dropna=False)

36 months    1722
60 months     476
NaN             1
.               1
Name: Loan.Length, dtype: int64