In [1]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

from mypipes import *

In [2]:
train_file=r"E:\IIT-K\data\data\loan_data_train.csv"
test_file=r"E:\IIT-K\data\data\loan_data_test.csv"

#train_file=r"D:\IIT-K\data\data\loan_data_train.csv"
#test_file=r"D:\IIT-K\data\data\loan_data_test.csv"

ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [3]:
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [4]:
ld_train.sample(10)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1124,132.0,12375,275,10.91%,36 months,small_business,16.39%,VA,MORTGAGE,3892.75,690-694,11,8332,2.0,3 years
1688,69724.0,35000,34950,23.76%,60 months,debt_consolidation,24.22%,NY,RENT,7331.25,665-669,16,28687,2.0,4 years
1162,57704.0,9000,9000,15.31%,36 months,credit_card,15.88%,NY,RENT,5000.00,675-679,7,4532,1.0,10+ years
1616,91669.0,21000,21000,11.14%,60 months,debt_consolidation,16.18%,NY,MORTGAGE,7083.33,705-709,8,22298,1.0,9 years
992,51954.0,9550,9550,10.74%,36 months,debt_consolidation,14.33%,AL,MORTGAGE,4000.00,700-704,8,9128,0.0,3 years
1089,31004.0,25450,25425,13.99%,60 months,credit_card,26.38%,NC,RENT,4416.67,720-724,13,31828,2.0,3 years
1019,94092.0,12300,12300,6.03%,36 months,debt_consolidation,7.15%,VA,RENT,6666.67,740-744,10,10976,0.0,10+ years
815,69027.0,16000,16000,21.98%,60 months,home_improvement,10.99%,IL,MORTGAGE,3466.67,665-669,8,13797,1.0,7 years
60,10326.0,15400,9458.33,16.32%,60 months,house,15.17%,VA,RENT,6500.00,695-699,11,9989,1.0,4 years
1217,72589.0,14400,14400,13.11%,36 months,credit_card,10.75%,CA,RENT,5000.00,680-684,13,19772,0.0,8 years

In [5]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [6]:
ld_train["Loan.Length"].value_counts(dropna=False)

36 months    1722
60 months     476
NaN             1
.               1
Name: Loan.Length, dtype: int64

In [7]:
#PYTHON PIPELINE
# dont need : ID , Intereste.Rate

# Amount requested : V1
# Amount.Funded.By.Investors : V2 
# Open.CREDIT.Lines : V3
# Revolving.CREDIT.Balance : V4

# convert it to numeric , and then impute missing values with median

# Debt.To.Income.Ratio : V5

# remove percentage sign , covert to numeric and then impute with median

# Loan.Length ,Loan.Purpose,State,Home.Ownership,Employment.Length
# V6-V10
# create dummies for these, considering frequency cutoff as 20

# Monthly.Income : V11,
# Inquiries.in.the.Last.6.Months :V12

# impute missing values with median

# FICO.Range : V13

# split the column at '-', convert the resulting columns to numeric(say a ,b) , 
# then create new column = (a+b)/2

In [8]:
# pipe_name=pdPipeline([
#     ('name of the process',call to process),
#     ('name of the process', call to process),
#     .....
# ])

In [9]:
p1=pdPipeline([
    ('var_select',VarSelector(['Amount.Requested','Amount.Funded.By.Investors',
                               'Open.CREDIT.Lines','Revolving.CREDIT.Balance'])),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [10]:
p2=pdPipeline([
    ('var_select',VarSelector(['Debt.To.Income.Ratio'])),
    ('string_clean',string_clean(replace_it='%',replace_with='')),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [11]:
p3=pdPipeline([
    ('var_select',VarSelector(['Loan.Length', 'Loan.Purpose','State','Home.Ownership',
                               'Employment.Length'])),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(20))
])

In [12]:
p4=pdPipeline([
    ('var_select',VarSelector(['Monthly.Income','Inquiries.in.the.Last.6.Months'])),
    ('missing_trt',DataFrameImputer())
])

In [13]:
p5=pdPipeline([
    ('var_select',VarSelector(['FICO.Range'])),
    ('custom_fico',custom_fico()),
    ('missing_trt',DataFrameImputer())
])

In [14]:
data_pipe=FeatureUnion([
    ('obj_to_num',p1),
    ('dtir',p2),
    ('obj_to_dum',p3),
    ('num',p4),
    ('fico',p5)
])

In [15]:
data_pipe.fit(ld_train)

FeatureUnion(transformer_list=[('obj_to_num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Amount.Requested',
                                                                              'Amount.Funded.By.Investors',
                                                                              'Open.CREDIT.Lines',
                                                                              'Revolving.CREDIT.Balance'])),
                                                  ('convert_to_numeric',
                                                   convert_to_numeric()),
                                                  ('missing_trt',
                                                   DataFrameImputer())])),
                               ('dtir',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=...
                                                  ('create_dummies',
                                                   get_dummies_Pipe(freq_cutoff=20))])),
                               ('num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Monthly.Income',
                                                                              'Inquiries.in.the.Last.6.Months'])),
                                                  ('missing_trt',
                                                   DataFrameImputer())])),
                               ('fico',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['FICO.Range'])),
                                                  ('custom_fico',
                                                   custom_fico()),
                                                  ('missing_trt',
                                                   DataFrameImputer())]))])

In [16]:
len(data_pipe.get_feature_names())

61

In [17]:
data_pipe.transform(ld_train).shape

(2200, 61)

In [18]:
x_train=pd.DataFrame(data=data_pipe.transform(ld_train),
                    columns=data_pipe.get_feature_names())

In [19]:
x_test=pd.DataFrame(data=data_pipe.transform(ld_test),
                    columns=data_pipe.get_feature_names())

In [20]:
x_train.shape

(2200, 61)

In [21]:
x_test.shape

(300, 61)

In [22]:
x_train.columns

Index(['obj_to_num__Amount.Requested',
       'obj_to_num__Amount.Funded.By.Investors',
       'obj_to_num__Open.CREDIT.Lines', 'obj_to_num__Revolving.CREDIT.Balance',
       'dtir__Debt.To.Income.Ratio', 'obj_to_dum__Loan.Length_36 months',
       'obj_to_dum__Loan.Length_60 months',
       'obj_to_dum__Loan.Purpose_debt_consolidation',
       'obj_to_dum__Loan.Purpose_credit_card',
       'obj_to_dum__Loan.Purpose_other',
       'obj_to_dum__Loan.Purpose_home_improvement',
       'obj_to_dum__Loan.Purpose_major_purchase',
       'obj_to_dum__Loan.Purpose_small_business',
       'obj_to_dum__Loan.Purpose_car', 'obj_to_dum__Loan.Purpose_wedding',
       'obj_to_dum__Loan.Purpose_medical', 'obj_to_dum__Loan.Purpose_moving',
       'obj_to_dum__State_CA', 'obj_to_dum__State_NY', 'obj_to_dum__State_FL',
       'obj_to_dum__State_TX', 'obj_to_dum__State_PA', 'obj_to_dum__State_IL',
       'obj_to_dum__State_GA', 'obj_to_dum__State_NJ', 'obj_to_dum__State_VA',
       'obj_to_dum__State_MA', 'obj_to_dum__State_NC', 'obj_to_dum__State_OH',
       'obj_to_dum__State_MD', 'obj_to_dum__State_CO', 'obj_to_dum__State_WA',
       'obj_to_dum__State_CT', 'obj_to_dum__State_AZ', 'obj_to_dum__State_MI',
       'obj_to_dum__State_AL', 'obj_to_dum__State_MN', 'obj_to_dum__State_MO',
       'obj_to_dum__State_NV', 'obj_to_dum__State_SC', 'obj_to_dum__State_WI',
       'obj_to_dum__State_OR', 'obj_to_dum__State_KS',
       'obj_to_dum__Home.Ownership_MORTGAGE',
       'obj_to_dum__Home.Ownership_RENT', 'obj_to_dum__Home.Ownership_OWN',
       'obj_to_dum__Employment.Length_10+ years',
       'obj_to_dum__Employment.Length_< 1 year',
       'obj_to_dum__Employment.Length_2 years',
       'obj_to_dum__Employment.Length_3 years',
       'obj_to_dum__Employment.Length_5 years',
       'obj_to_dum__Employment.Length_4 years',
       'obj_to_dum__Employment.Length_1 year',
       'obj_to_dum__Employment.Length_6 years',
       'obj_to_dum__Employment.Length_7 years',
       'obj_to_dum__Employment.Length_8 years',
       'obj_to_dum__Employment.Length_missing',
       'obj_to_dum__Employment.Length_9 years', 'num__Monthly.Income',
       'num__Inquiries.in.the.Last.6.Months', 'fico__fico'],
      dtype='object')

In [23]:
x_test.columns

Index(['obj_to_num__Amount.Requested',
       'obj_to_num__Amount.Funded.By.Investors',
       'obj_to_num__Open.CREDIT.Lines', 'obj_to_num__Revolving.CREDIT.Balance',
       'dtir__Debt.To.Income.Ratio', 'obj_to_dum__Loan.Length_36 months',
       'obj_to_dum__Loan.Length_60 months',
       'obj_to_dum__Loan.Purpose_debt_consolidation',
       'obj_to_dum__Loan.Purpose_credit_card',
       'obj_to_dum__Loan.Purpose_other',
       'obj_to_dum__Loan.Purpose_home_improvement',
       'obj_to_dum__Loan.Purpose_major_purchase',
       'obj_to_dum__Loan.Purpose_small_business',
       'obj_to_dum__Loan.Purpose_car', 'obj_to_dum__Loan.Purpose_wedding',
       'obj_to_dum__Loan.Purpose_medical', 'obj_to_dum__Loan.Purpose_moving',
       'obj_to_dum__State_CA', 'obj_to_dum__State_NY', 'obj_to_dum__State_FL',
       'obj_to_dum__State_TX', 'obj_to_dum__State_PA', 'obj_to_dum__State_IL',
       'obj_to_dum__State_GA', 'obj_to_dum__State_NJ', 'obj_to_dum__State_VA',
       'obj_to_dum__State_MA', 'obj_to_dum__State_NC', 'obj_to_dum__State_OH',
       'obj_to_dum__State_MD', 'obj_to_dum__State_CO', 'obj_to_dum__State_WA',
       'obj_to_dum__State_CT', 'obj_to_dum__State_AZ', 'obj_to_dum__State_MI',
       'obj_to_dum__State_AL', 'obj_to_dum__State_MN', 'obj_to_dum__State_MO',
       'obj_to_dum__State_NV', 'obj_to_dum__State_SC', 'obj_to_dum__State_WI',
       'obj_to_dum__State_OR', 'obj_to_dum__State_KS',
       'obj_to_dum__Home.Ownership_MORTGAGE',
       'obj_to_dum__Home.Ownership_RENT', 'obj_to_dum__Home.Ownership_OWN',
       'obj_to_dum__Employment.Length_10+ years',
       'obj_to_dum__Employment.Length_< 1 year',
       'obj_to_dum__Employment.Length_2 years',
       'obj_to_dum__Employment.Length_3 years',
       'obj_to_dum__Employment.Length_5 years',
       'obj_to_dum__Employment.Length_4 years',
       'obj_to_dum__Employment.Length_1 year',
       'obj_to_dum__Employment.Length_6 years',
       'obj_to_dum__Employment.Length_7 years',
       'obj_to_dum__Employment.Length_8 years',
       'obj_to_dum__Employment.Length_missing',
       'obj_to_dum__Employment.Length_9 years', 'num__Monthly.Income',
       'num__Inquiries.in.the.Last.6.Months', 'fico__fico'],
      dtype='object')

In [30]:
y_train=ld_train["Interest.Rate"].str.replace('%','').astype(float)
y_train

0       18.49
1       17.27
2       14.33
3       16.29
4       12.23
        ...
2195    23.28
2196    14.33
2197    15.31
2198    20.99
2199    10.16
Name: Interest.Rate, Length: 2200, dtype: float64

In [ ]:
#lINEAR REGRESSION

In [55]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [56]:
lm=LinearRegression()

In [63]:
cv_mae=cross_val_score(lm,
                       x_train,y_train,
                      cv=10,
                      scoring='neg_mean_absolute_error')

In [64]:
cv_mae.mean()

-1.6090335977701393

In [65]:
cv_mae.std()

0.10727891352839572

In [66]:
lm.fit(x_train,y_train)

LinearRegression()

In [67]:
lm.intercept_

73.04434562219876

In [70]:
lm.coef_

array([ 4.91097030e-05,  1.17248161e-04, -3.68040758e-02, -1.56708629e-06,
       -2.15893596e-03,  1.34580901e+00,  4.50164361e+00, -7.95558356e-01,
       -8.95023654e-01,  3.44101687e-02, -5.64961402e-01, -4.19770245e-01,
       -2.17767837e-01, -5.23497566e-01, -9.50935735e-01, -6.24582154e-01,
        7.10393367e-01, -1.89572262e-01, -1.62077703e-01, -3.83963386e-02,
        4.72213317e-01, -4.71219583e-01, -5.97883907e-01, -1.29119794e-01,
       -3.48019912e-01, -1.62412357e-01, -1.25628925e-01, -5.28670226e-01,
       -1.82785269e-01, -1.03168025e-01,  6.76024766e-02, -2.83418474e-01,
        4.29922908e-01,  3.89627629e-01, -1.00830778e-01,  1.19526588e-02,
       -1.56274811e-01, -2.72330672e-01, -2.18141242e-01, -4.78253620e-02,
       -1.13933823e-03,  1.70071492e-02,  2.44919285e-01, -2.43088247e+00,
       -2.20441699e+00, -2.07656326e+00,  5.52107009e-01,  3.97105772e-01,
        3.52590264e-01,  1.87782877e-01,  6.29124556e-01,  4.61856956e-01,
        3.18842170e-01,  4.19390181e-01,  3.92022990e-01,  3.06462451e-01,
        6.26008840e-01,  7.43679582e-02, -2.92679476e-05,  3.67540638e-01,
       -8.63639330e-02])

In [71]:
list(zip(x_train.columns, lm.coef_))

[('obj_to_num__Amount.Requested', 4.9109702984035364e-05),
 ('obj_to_num__Amount.Funded.By.Investors', 0.00011724816069084552),
 ('obj_to_num__Open.CREDIT.Lines', -0.036804075833552975),
 ('obj_to_num__Revolving.CREDIT.Balance', -1.5670862899668783e-06),
 ('dtir__Debt.To.Income.Ratio', -0.002158935955780393),
 ('obj_to_dum__Loan.Length_36 months', 1.3458090091741697),
 ('obj_to_dum__Loan.Length_60 months', 4.501643614256357),
 ('obj_to_dum__Loan.Purpose_debt_consolidation', -0.7955583555394746),
 ('obj_to_dum__Loan.Purpose_credit_card', -0.895023654478015),
 ('obj_to_dum__Loan.Purpose_other', 0.034410168683323306),
 ('obj_to_dum__Loan.Purpose_home_improvement', -0.564961402019623),
 ('obj_to_dum__Loan.Purpose_major_purchase', -0.41977024469914437),
 ('obj_to_dum__Loan.Purpose_small_business', -0.21776783697196683),
 ('obj_to_dum__Loan.Purpose_car', -0.5234975663282307),
 ('obj_to_dum__Loan.Purpose_wedding', -0.950935734592282),
 ('obj_to_dum__Loan.Purpose_medical', -0.6245821540786641),
 ('obj_to_dum__Loan.Purpose_moving', 0.710393367490317),
 ('obj_to_dum__State_CA', -0.18957226205809802),
 ('obj_to_dum__State_NY', -0.1620777034372871),
 ('obj_to_dum__State_FL', -0.03839633861103106),
 ('obj_to_dum__State_TX', 0.47221331686185813),
 ('obj_to_dum__State_PA', -0.47121958251712265),
 ('obj_to_dum__State_IL', -0.5978839069831284),
 ('obj_to_dum__State_GA', -0.12911979392597367),
 ('obj_to_dum__State_NJ', -0.3480199124901643),
 ('obj_to_dum__State_VA', -0.16241235654362168),
 ('obj_to_dum__State_MA', -0.1256289249920723),
 ('obj_to_dum__State_NC', -0.5286702260063048),
 ('obj_to_dum__State_OH', -0.18278526913809673),
 ('obj_to_dum__State_MD', -0.10316802476551538),
 ('obj_to_dum__State_CO', 0.0676024766405008),
 ('obj_to_dum__State_WA', -0.28341847413330556),
 ('obj_to_dum__State_CT', 0.42992290766345415),
 ('obj_to_dum__State_AZ', 0.3896276285200762),
 ('obj_to_dum__State_MI', -0.10083077842576564),
 ('obj_to_dum__State_AL', 0.011952658834877283),
 ('obj_to_dum__State_MN', -0.15627481061163873),
 ('obj_to_dum__State_MO', -0.27233067196652555),
 ('obj_to_dum__State_NV', -0.21814124205218258),
 ('obj_to_dum__State_SC', -0.04782536199148327),
 ('obj_to_dum__State_WI', -0.0011393382284790449),
 ('obj_to_dum__State_OR', 0.01700714917806894),
 ('obj_to_dum__State_KS', 0.24491928456654688),
 ('obj_to_dum__Home.Ownership_MORTGAGE', -2.430882469677254),
 ('obj_to_dum__Home.Ownership_RENT', -2.2044169915422422),
 ('obj_to_dum__Home.Ownership_OWN', -2.0765632645708187),
 ('obj_to_dum__Employment.Length_10+ years', 0.5521070091150336),
 ('obj_to_dum__Employment.Length_< 1 year', 0.39710577220354554),
 ('obj_to_dum__Employment.Length_2 years', 0.35259026366579915),
 ('obj_to_dum__Employment.Length_3 years', 0.18778287716522096),
 ('obj_to_dum__Employment.Length_5 years', 0.6291245562265259),
 ('obj_to_dum__Employment.Length_4 years', 0.4618569557512171),
 ('obj_to_dum__Employment.Length_1 year', 0.3188421701169967),
 ('obj_to_dum__Employment.Length_6 years', 0.41939018077967877),
 ('obj_to_dum__Employment.Length_7 years', 0.39202298964656257),
 ('obj_to_dum__Employment.Length_8 years', 0.30646245087895385),
 ('obj_to_dum__Employment.Length_missing', 0.626008840488153),
 ('obj_to_dum__Employment.Length_9 years', 0.07436795823955869),
 ('num__Monthly.Income', -2.9267947634248337e-05),
 ('num__Inquiries.in.the.Last.6.Months', 0.3675406378451791),
 ('fico__fico', -0.08636393304679135)]

In [74]:
test_predict=lm.predict(x_test)
test_predict

array([16.70799585, 16.00832441, 10.33709785,  3.69116239, 15.24991944,
        7.64043694, 15.56010771, 10.65005028, 15.941686  , 12.40783892,
       10.07271324, 15.2280325 , 11.67477637, 13.63967139, 13.43076211,
       18.39083847, 10.26336433, 15.77026142, 13.49390545, 14.02604258,
       22.56736997, 17.43996629, 12.41267037, 14.65336533,  9.64344848,
       11.39958837, 13.30956956, 19.1182746 , 11.81628241, 16.79747458,
       15.19456707, 15.27420913, 12.36477469, 14.97510221, 13.86521163,
       14.08348195, 19.65313081, 11.31657445, 12.01385911, 16.9033149 ,
       14.07985435, 11.15670313, 15.00538815, 13.26128284, 15.53903097,
       17.16549476, 14.90394046, 18.85806411, 17.14613739, 10.40842271,
       13.3464016 , 19.82461581, 10.04729388, 19.57442289, 15.76637987,
       15.31454435, 17.17119236, 14.60583533, 10.94554408, 14.60716935,
       13.10262133, 17.22715423,  8.84894718, 14.74112233, 10.01636322,
       11.42004752, 12.84835679, 14.9071138 , 11.24916667, 14.43670798,
       14.5991955 , 17.34005893, 20.85226777, 19.66476252, 13.32822907,
       17.0413302 , 11.32743557, 10.10315074, 16.54076843,  6.95935782,
       15.96897123, 10.25776271,  9.58929357, 12.93128628, 14.10355535,
        9.00386291,  9.33812421, 13.85854239,  8.62410818, 11.61511138,
       11.91586872, 17.05297035, 13.46857696, 18.01488456, 14.29862669,
       10.34763671, 10.32947853, 17.2767452 , 17.07338943, 13.62907602,
       15.10451148, 13.56565438, 15.31614972, 14.08494246, 13.63722223,
       12.40385551,  8.85263894, 11.98053868, 10.95069802, 14.0259638 ,
       11.74717287, 20.50401786,  7.38849116, 16.97400049, 15.67461116,
        6.61662878, 13.31470893, 14.30681354, 15.07441512,  9.32730407,
       16.15987325, 14.23026977,  9.06773693, 11.82856522, 17.42801802,
       15.96850259,  8.53550009, 18.52976749,  3.42793488, 12.19854599,
       13.77966921, 13.31625999,  9.8848724 , 13.91010729, 18.60960056,
       14.3721004 , 15.61087832, 13.34065395, 13.14510838,  9.53166282,
       14.10311838, 14.55573334, 11.78262948, 11.56726161,  9.88080806,
       17.05837326, 12.01847375, 10.5588568 ,  7.93558125,  9.72411222,
       11.40846115, 13.82728443, 10.40720349,  7.69441752, 14.06474631,
       11.99422402, 11.33294758,  7.87514484, 14.60207057, 14.74628032,
       14.18563713,  7.07532415, 15.11443073, 18.09260534, 15.39923213,
       16.04668734, 14.69970588, 10.08587445, 13.43160847, 16.78723595,
       14.68107236, 12.95077835,  6.58608636, 13.15666842, 10.30869673,
       10.5400058 , 11.18950582,  8.81234423,  9.76224368, 11.53764624,
       12.85904809, 14.4999749 , 10.3506837 , 13.32352491, 11.03294175,
       13.88995918,  8.49343684, 18.22768013, 13.58719599,  9.51146328,
        7.71273462, 11.50725925, 16.05883433, 15.47861496, 15.18299484,
       18.06191708,  9.17173706, 19.05497063,  5.22886474, 13.71722615,
       14.61179157, 12.72356138, 18.35810136, 16.79786199,  4.83218888,
       15.55231211, 15.59781612, 19.66277324, 16.65175451,  8.77967023,
       14.64908193, 11.4436068 , 11.26297808, 14.6175546 , 10.84707702,
       12.35931999, 13.33056901, 20.85510196, 13.8481784 ,  6.51791405,
        5.74555829,  9.3965343 , 17.95216666, 11.43072068, 15.88936596,
       14.75021119, 11.88460801, 11.66497672, 12.27184201, 10.69145121,
       11.72973634, 14.82350432, 12.71844136, 16.09567198,  7.70247895,
       11.3524924 , 13.39218409, 10.69748138,  5.08383568, 20.06430464,
       14.10770277, 19.83778251,  7.9097233 , 20.92580744, 12.81709229,
       12.20611443, 20.18617465,  8.85908208,  7.99673981, 12.9762753 ,
       16.12078413, 14.06582308, 10.79550882, 14.10973992, 15.13836515,
       19.21126561, 11.24790185,  7.94596322, 12.48127867, 18.18311244,
       16.33177897, 13.18548167, 18.47471897,  7.50203578, 20.0712394 ,
        8.27218108, 15.92711265, 10.57720049,  4.58155309, 14.94022954,
       13.49945303, 13.30146019,  6.77111453,  9.35596612, 10.0234887 ,
        6.56341147, 14.20185156, 13.70985593, 11.16023829, 14.89606426,
       16.85501312, 20.44100922, 16.54206443, 14.40465125, 15.97684106,
        8.28295486, 12.83687793, 13.57534125, 10.52517728, 11.76899574,
       14.65251835, 10.16383918, 14.43252261,  9.50951733,  7.09137208,
       15.89204934, 11.12132843, 14.49975762, 17.92665665, 12.96291028])

In [75]:
pd.DataFrame(test_predict).to_csv("result1.csv",index=False)

In [76]:
import os
os.getcwd()

'E:\\IIT-K\\Linear-Regression-Model-Loan'