In [1]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

from mypipes import *

In [2]:
#train_file=r"E:\IIT-K\data\data\loan_data_train.csv"
#test_file=r"E:\IIT-K\data\data\loan_data_test.csv"

train_file=r"D:\IIT-K\data\data\loan_data_train.csv"
test_file=r"D:\IIT-K\data\data\loan_data_test.csv"

ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [3]:
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [4]:
ld_train.sample(10)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1691,10819.0,15000,14450,11.86%,60 months,debt_consolidation,16.38%,MA,MORTGAGE,6166.67,730-734,6,42971,0.0,10+ years
1047,57788.0,5000,5000,16.29%,36 months,debt_consolidation,20.77%,VA,RENT,4583.33,660-664,19,11991,1.0,6 years
1020,98272.0,15000,15000,15.80%,36 months,credit_card,10.27%,NV,RENT,3333.33,670-674,11,10108,0.0,4 years
923,35161.0,3000,3000,6.03%,36 months,debt_consolidation,11.03%,NY,MORTGAGE,7500.00,765-769,13,10585,0.0,NaN
2139,87023.0,23850,23850,21.00%,60 months,debt_consolidation,28.81%,LA,MORTGAGE,5833.33,685-689,19,25968,3.0,9 years
1759,13412.0,15000,13885.68,17.93%,60 months,debt_consolidation,8.06%,HI,RENT,12500.00,670-674,14,8296,0.0,7 years
2065,91915.0,12000,12000,16.29%,36 months,debt_consolidation,28.76%,CT,RENT,5666.67,660-664,21,16822,2.0,3 years
1700,51948.0,5300,5300,7.90%,36 months,medical,12.82%,CA,RENT,5500.00,725-729,8,9996,2.0,1 year
1919,5821.0,20000,19850,13.22%,36 months,debt_consolidation,9.07%,GA,RENT,5458.33,705-709,7,15389,0.0,2 years
1441,71751.0,12000,12000,15.31%,36 months,debt_consolidation,32.91%,CA,RENT,5500.00,680-684,21,13559,1.0,3 years

In [5]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [6]:
ld_train["Loan.Length"].value_counts(dropna=False)

36 months    1722
60 months     476
NaN             1
.               1
Name: Loan.Length, dtype: int64

In [ ]:
#PYTHON PIPELINE
# dont need : ID , Intereste.Rate

# Amount requested : V1
# Amount.Funded.By.Investors : V2 
# Open.CREDIT.Lines : V3
# Revolving.CREDIT.Balance : V4

# convert it to numeric , and then impute missing values with median

# Debt.To.Income.Ratio : V5

# remove percentage sign , covert to numeric and then impute with median

# Loan.Length ,Loan.Purpose,State,Home.Ownership,Employment.Length
# V6-V10
# create dummies for these, considering frequency cutoff as 20

# Monthly.Income : V11,
# Inquiries.in.the.Last.6.Months :V12

# impute missing values with median

# FICO.Range : V13

# split the column at '-', convert the resulting columns to numeric(say a ,b) , 
# then create new column = (a+b)/2

In [ ]:
# pipe_name=pdPipeline([
#     ('name of the process',call to process),
#     ('name of the process', call to process),
#     .....
# ])

In [7]:
p1=pdPipeline([
    ('var_select',VarSelector(['Amount.Requested','Amount.Funded.By.Investors',
                               'Open.CREDIT.Lines','Revolving.CREDIT.Balance'])),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [8]:
p2=pdPipeline([
    ('var_select',VarSelector(['Debt.To.Income.Ratio'])),
    ('string_clean',string_clean(replace_it='%',replace_with='')),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [9]:
p3=pdPipeline([
    ('var_select',VarSelector(['Loan.Length', 'Loan.Purpose','State','Home.Ownership',
                               'Employment.Length'])),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(20))
])

In [10]:
p4=pdPipeline([
    ('var_select',VarSelector(['Monthly.Income','Inquiries.in.the.Last.6.Months'])),
    ('missing_trt',DataFrameImputer())
])

In [11]:
p5=pdPipeline([
    ('var_select',VarSelector(['FICO.Range'])),
    ('custom_fico',custom_fico()),
    ('missing_trt',DataFrameImputer())
])

In [12]:
data_pipe=FeatureUnion([
    ('obj_to_num',p1),
    ('dtir',p2),
    ('obj_to_dum',p3),
    ('num',p4),
    ('fico',p5)
])

In [13]:
data_pipe.fit(ld_train)

FeatureUnion(transformer_list=[('obj_to_num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Amount.Requested',
                                                                              'Amount.Funded.By.Investors',
                                                                              'Open.CREDIT.Lines',
                                                                              'Revolving.CREDIT.Balance'])),
                                                  ('convert_to_numeric',
                                                   convert_to_numeric()),
                                                  ('missing_trt',
                                                   DataFrameImputer())])),
                               ('dtir',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=...
                                                  ('create_dummies',
                                                   get_dummies_Pipe(freq_cutoff=20))])),
                               ('num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Monthly.Income',
                                                                              'Inquiries.in.the.Last.6.Months'])),
                                                  ('missing_trt',
                                                   DataFrameImputer())])),
                               ('fico',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['FICO.Range'])),
                                                  ('custom_fico',
                                                   custom_fico()),
                                                  ('missing_trt',
                                                   DataFrameImputer())]))])

In [14]:
len(data_pipe.get_feature_names())

61

In [15]:
data_pipe.transform(ld_train).shape

(2200, 61)

In [16]:
x_train=pd.DataFrame(data=data_pipe.transform(ld_train),
                    columns=data_pipe.get_feature_names())

In [17]:
x_test=pd.DataFrame(data=data_pipe.transform(ld_test),
                    columns=data_pipe.get_feature_names())

In [18]:
x_train.shape

(2200, 61)

In [19]:
x_test.shape

(300, 61)

In [20]:
x_train.columns

Index(['obj_to_num__Amount.Requested',
       'obj_to_num__Amount.Funded.By.Investors',
       'obj_to_num__Open.CREDIT.Lines', 'obj_to_num__Revolving.CREDIT.Balance',
       'dtir__Debt.To.Income.Ratio', 'obj_to_dum__Loan.Length_36 months',
       'obj_to_dum__Loan.Length_60 months',
       'obj_to_dum__Loan.Purpose_debt_consolidation',
       'obj_to_dum__Loan.Purpose_credit_card',
       'obj_to_dum__Loan.Purpose_other',
       'obj_to_dum__Loan.Purpose_home_improvement',
       'obj_to_dum__Loan.Purpose_major_purchase',
       'obj_to_dum__Loan.Purpose_small_business',
       'obj_to_dum__Loan.Purpose_car', 'obj_to_dum__Loan.Purpose_wedding',
       'obj_to_dum__Loan.Purpose_medical', 'obj_to_dum__Loan.Purpose_moving',
       'obj_to_dum__State_CA', 'obj_to_dum__State_NY', 'obj_to_dum__State_FL',
       'obj_to_dum__State_TX', 'obj_to_dum__State_PA', 'obj_to_dum__State_IL',
       'obj_to_dum__State_GA', 'obj_to_dum__State_NJ', 'obj_to_dum__State_VA',
       'obj_to_dum__State_MA', 'obj_to_dum__State_NC', 'obj_to_dum__State_OH',
       'obj_to_dum__State_MD', 'obj_to_dum__State_CO', 'obj_to_dum__State_WA',
       'obj_to_dum__State_CT', 'obj_to_dum__State_AZ', 'obj_to_dum__State_MI',
       'obj_to_dum__State_AL', 'obj_to_dum__State_MN', 'obj_to_dum__State_MO',
       'obj_to_dum__State_NV', 'obj_to_dum__State_SC', 'obj_to_dum__State_WI',
       'obj_to_dum__State_OR', 'obj_to_dum__State_KS',
       'obj_to_dum__Home.Ownership_MORTGAGE',
       'obj_to_dum__Home.Ownership_RENT', 'obj_to_dum__Home.Ownership_OWN',
       'obj_to_dum__Employment.Length_10+ years',
       'obj_to_dum__Employment.Length_< 1 year',
       'obj_to_dum__Employment.Length_2 years',
       'obj_to_dum__Employment.Length_3 years',
       'obj_to_dum__Employment.Length_5 years',
       'obj_to_dum__Employment.Length_4 years',
       'obj_to_dum__Employment.Length_1 year',
       'obj_to_dum__Employment.Length_6 years',
       'obj_to_dum__Employment.Length_7 years',
       'obj_to_dum__Employment.Length_8 years',
       'obj_to_dum__Employment.Length_missing',
       'obj_to_dum__Employment.Length_9 years', 'num__Monthly.Income',
       'num__Inquiries.in.the.Last.6.Months', 'fico__fico'],
      dtype='object')

In [21]:
x_test.columns

Index(['obj_to_num__Amount.Requested',
       'obj_to_num__Amount.Funded.By.Investors',
       'obj_to_num__Open.CREDIT.Lines', 'obj_to_num__Revolving.CREDIT.Balance',
       'dtir__Debt.To.Income.Ratio', 'obj_to_dum__Loan.Length_36 months',
       'obj_to_dum__Loan.Length_60 months',
       'obj_to_dum__Loan.Purpose_debt_consolidation',
       'obj_to_dum__Loan.Purpose_credit_card',
       'obj_to_dum__Loan.Purpose_other',
       'obj_to_dum__Loan.Purpose_home_improvement',
       'obj_to_dum__Loan.Purpose_major_purchase',
       'obj_to_dum__Loan.Purpose_small_business',
       'obj_to_dum__Loan.Purpose_car', 'obj_to_dum__Loan.Purpose_wedding',
       'obj_to_dum__Loan.Purpose_medical', 'obj_to_dum__Loan.Purpose_moving',
       'obj_to_dum__State_CA', 'obj_to_dum__State_NY', 'obj_to_dum__State_FL',
       'obj_to_dum__State_TX', 'obj_to_dum__State_PA', 'obj_to_dum__State_IL',
       'obj_to_dum__State_GA', 'obj_to_dum__State_NJ', 'obj_to_dum__State_VA',
       'obj_to_dum__State_MA', 'obj_to_dum__State_NC', 'obj_to_dum__State_OH',
       'obj_to_dum__State_MD', 'obj_to_dum__State_CO', 'obj_to_dum__State_WA',
       'obj_to_dum__State_CT', 'obj_to_dum__State_AZ', 'obj_to_dum__State_MI',
       'obj_to_dum__State_AL', 'obj_to_dum__State_MN', 'obj_to_dum__State_MO',
       'obj_to_dum__State_NV', 'obj_to_dum__State_SC', 'obj_to_dum__State_WI',
       'obj_to_dum__State_OR', 'obj_to_dum__State_KS',
       'obj_to_dum__Home.Ownership_MORTGAGE',
       'obj_to_dum__Home.Ownership_RENT', 'obj_to_dum__Home.Ownership_OWN',
       'obj_to_dum__Employment.Length_10+ years',
       'obj_to_dum__Employment.Length_< 1 year',
       'obj_to_dum__Employment.Length_2 years',
       'obj_to_dum__Employment.Length_3 years',
       'obj_to_dum__Employment.Length_5 years',
       'obj_to_dum__Employment.Length_4 years',
       'obj_to_dum__Employment.Length_1 year',
       'obj_to_dum__Employment.Length_6 years',
       'obj_to_dum__Employment.Length_7 years',
       'obj_to_dum__Employment.Length_8 years',
       'obj_to_dum__Employment.Length_missing',
       'obj_to_dum__Employment.Length_9 years', 'num__Monthly.Income',
       'num__Inquiries.in.the.Last.6.Months', 'fico__fico'],
      dtype='object')